li{
    list-style-type: circle;
    padding: 1rem;
    border-bottom: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
    //&::marker { color: blue; font-weight:bold; }
    //&::before{content: "Note "}
    span {
        &::before{content: "$"}
    }
}

.fondoBlanco{
    background-color: beige;
}